@use "sass:meta";
body[data-theme="light"] {
    @include meta.load-css('../light-slider');
 
    .slider-tab {
       background-color: #D7CAAA;
    }

    #resume {
        .experience-badge {
            background-color: #C9B77F !important;
            color: white !important;
        }
    }
}
